input {
    background-color: #3498db;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: #fff;
}

li{
    font-family: 'Roboto Mono', monospace;
    text-shadow: 2px 5px 8px;
    margin-bottom: 2rem;
}
button{
    height: 2rem;
    width: 4rem;
    font-size: 1.2rem;
    background-color: red;
    border: none;
    outline: none;
    color: #fff;
    text-align: center;
}